.editingcanvas {
    width : 100%;
    height: calc(100vh - 50px);
    /* background-color: rgb(238, 238, 238); */
    box-sizing: border-box;
    padding: 10px;
    touch-action: none;
    user-select: none;
 
}


.canvas {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 2px rgb(226, 226, 226);
    display: block;
    overflow: scroll;
}

.highlightWidget {
    outline: 2px solid orangered;
    outline-offset: -2px;
}

.hover {
    outline: 2px dashed rgb(255, 0, 140);
    outline-offset: -2px;
}